# sbt related
target/
project/project/
project/target/

# dev related
test_fir/

# release related
utils/bin/essent.jar

# IDE related
.idea/*
.metals/*
project/*
.vscode/*
.bloop/*
.scalafmt.conf

# testing related
*.opt.lo.fir
src/test/resources/*.java
src/test/resources/*.h
src/test/resources/*.txt
test_run_dir/

.DS_Store
